<div class="row">
		<div class="large-4 columns">
			<h2>Dashboard</h2>
		</div>
	</div>

	<div class="row panel">
		<div class="large-6 columns">
			<h3>Start Anew</h3>
			<p>Start a goal from scratch, setting it up however you like.</p>
			<a href="#" class="large button expand">Create a Goal!</a>
		</div>
		<div class="large-6 columns hide-for-small">
			<h3>...or, quickly create a Goals</h3>
			<ul>
				<li><a href="#">Loose Weight</a></li>
				<li><a href="#">Start a Civic Construction Project</a></li>
				<li><a href="#">Get Shit Done</a></li>
			</ul>
		</div>
	</div>

	<div class="row panel">
		<div class="large-6 columns">
			<h3>Find Somewhere to Help</h3>
			<p>Look at active and completed goals.</p>
			<a href="#" class="large button expand">Browse Goals</a>
		</div>
		<div class="large-6 columns hide-for-small">
			<h3>Some Goals That Need Your Help</h3>
			<ul>
				<li><a href="#">Clean Up Thompson Park</a></li>
				<li><a href="#">Brainstorm Community Service Projects</a></li>
				<li><a href="#">Introduce me to Denver</a></li>
				<li><a href="#">Howzfore i type abunch</a></li>
			</ul>
		</div>
	</div>

	<div class="row panel">
		<div class="large-6 columns">
			<h3>Give Some Thanks!</h3>
			<p>Help give out fabulous prizes!</p>
			<a href="#" class="large button expand">Validate Goals</a>
		</div>
		<div class="large-6 columns hide-for-small">
			<h3>Other Goals Ready for Validation</h3>
			<ul>
				<li><a href="#">Help Biggs Move</a></li>
				<li><a href="#">Clean Up the Company Gutters</a></li>
				<li><a href="#">Decorate West High</a></li>
				<li><a href="#">My Dog Wedge Needs a Home</a></li>
			</ul>
		</div>
	</div>