<div class="row">
		<div class="large-12 columns">
			<h2>A Community Marketplace for Mutual Motivation</h2>
		</div>
	</div>

	<div class="row panel">
		<div class="large-12 columns">
			<h3>Lorem ipsum</h3>
			<p>Dolor sit amet, consectetur adipiscing elit. Nunc in eros quis odio ornare vehicula. Sed quis diam id sem venenatis eleifend a vel dui. Ut aliquam, orci quis vehicula vehicula, magna tellus fermentum libero, eget tincidunt urna mi non metus. Nullam pulvinar elementum velit sodales rutrum. Maecenas erat orci, bibendum sed convallis at, suscipit ultricies nunc. Aenean eu quam leo. Pellentesque varius, tellus sed semper pellentesque, nisl quam sagittis odio, vitae ullamcorper leo augue at tortor. Vivamus viverra enim dignissim quam tempor sodales eleifend arcu varius.</p>
			<a href="/goals/new" class="large button expand">Log In!</a>
		</div>
	</div>
</div>