<div class="row">
		<div class="large-12 columns">
			<h2>A Community Marketplace for Mutual Motivation</h2>
		</div>
	</div>

	<div class="row panel">
		<div class="large-12 columns">
			<h3>In a world of 7 billion, the moment you have a goal, there exists a mutual interest</h3>
			<p>Individuals, groups, companies, and civic interests carry underutilized goals and incentives, a community marketplace for these goals is inevitable if guided by the community, and rooted in good data.The standard economy covers the majority of these common interests, but many important human goals are encouraged vaguely or incompletely with shotgun marketing, sub-premium premiums, and large indirect campaigns. Activities ignored by the traditional economy, or rendered less efficient by it, such as charity, community service, ecology, education, and personal growth can now be encouraged by anyone. AttaBoy! Motivate you, or someone.</p>
			<a href="/goals/new" class="large button expand">Log In!</a>
		</div>
	</div>
</div>
