<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Atta Boy</title>

	<link rel="stylesheet" href="/css/foundation.css" />

	<script src="/js/vendor/custom.modernizr.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js" type="text/javascript"></script>
	<!-- FIXME: Skip document.write -->
	<script>window.jQuery || document.write('<script src="/js/jquery-1.10.1.min.js" type="text/javascript"><\/script>')</script>
</head>
<body>

	<header class="row masterhead">
		<div class="large-3 columns">
			<h1><a href="/">Attaboy!</a></h1>
		</div>

		<div class="large-7 columns">
			<form>
				<div class="large-8 columns right">
					<div class="row collapse">
						<div class="small-8 columns">
							<input type="text" placeholder="Find Goals">
						</div>
						<div class="small-4 columns">
							<a href="#" class="button prefix">Search</a>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="large-2 columns">
		    <% if(typeof(user) != "undefined") { %>
			<a href="#" class="small button split right">Profile <span data-dropdown="profile-drop"></span></a>
			<ul id="profile-drop" class="f-dropdown" data-dropdown-content>
				<li><a href="#">Edit Profile</a></li>
				<li><a href="#">Log Out</a></li>
			</ul>
			<% } %>
		</div>
	</header>

	<nav class="top-bar row">
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
				<h1><a href="/dashboard">Back to Dashboard</a></h1>
			</li>
			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li class="divider"></li>
				<li><a href="/goals/new">Create a Goal</a></li>
				<li class="divider"></li>
				<li><a href="/goals">Browse Goals</a></li>
				<li class="divider"></li>
				<li><a href="/goals/validate">Validate Goals</a></li>
			</ul>
		</section>
	</nav>

	<%- body %>

	<footer class="row">
		<div class="large-6 columns">
			<p>Attaboy is proudly built in Colorado by VoltronForceV</p>
		</div>
		<div class="large-6 columns">
			<p>A <em><a href="http://www.hack4colorado.com/">Hack for Colorado</a></em> Project</p>
		</div>
	</footer>

	<script>
	document.write('<script src=' +
		('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') +
		'.js><\/script>')
	</script>
	
	<script src="/js/foundation.min.js"></script>
	<!--
	
	<script src="/js/foundation/foundation.js"></script>
	<script src="/js/foundation/foundation.interchange.js"></script>
	<script src="/js/foundation/foundation.dropdown.js"></script>
	<script src="/js/foundation/foundation.placeholder.js"></script>
	<script src="/js/foundation/foundation.forms.js"></script>
	<script src="/js/foundation/foundation.alerts.js"></script>
	<script src="/js/foundation/foundation.magellan.js"></script>
	<script src="/js/foundation/foundation.reveal.js"></script>
	<script src="/js/foundation/foundation.tooltips.js"></script>
	<script src="/js/foundation/foundation.clearing.js"></script>
	<script src="/js/foundation/foundation.cookie.js"></script>
	<script src="/js/foundation/foundation.joyride.js"></script>	
	<script src="/js/foundation/foundation.orbit.js"></script>
	<script src="/js/foundation/foundation.section.js"></script>
	<script src="js/foundation/foundation.topbar.js"></script>
-->

<script>
$(document).foundation();
</script>
</body>
</html>
