<div class="row">
	<div class="large-12 columns">
		<h2>Username Here</h2>
	</div>
</div>

<div class="row panel">
	<div class="large-12 columns">
		<h3>Background</h3>
		<p id="userBackground">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper venenatis semper. In rhoncus ante eget libero placerat vitae tristique sapien pellentesque. Donec et metus sapien. Nam elementum augue et urna rhoncus pulvinar.</p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns panel">
		<div class="large-6 columns">
			<h3>Completed Goals</h3>
			<ul>
				<li><a href="#">Sew a Bew</a></li>
				<li><a href="#">Community Service Sweeping</a></li>
				<li><a href="#">Thunderdome!</a></li>
				<li><a href="#">Wander</a></li>
			</ul>
		</div>

		<div class="large-6 columns">
			<h3>Goals in Progess</h3>
			<ul>
				<li><a href="#">Clean Up Thompson Park</a></li>
				<li><a href="#">Brainstorm Community Service Projects</a></li>
				<li><a href="#">Introduce me to Denver</a></li>
				<li><a href="#">Howzfore i type abunch</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="row panel">
	<div class="large-12 columns">
		<h3>Acheivements Gifted to Username</h3>
		<ul>
			<li><strong>Ideator:</strong> 1</li>
			<li><strong>Work Ethic:</strong> 3</li>
			<li><strong>Communicator:</strong> 1</li>
		</ul>
	</div>
</div>