<div class="row">
	<div class="large-12 columns">
		<h2>Editing <span id="userHandel"><%= user.user_name %></span></h2>
	</div>
</div>

<div class="row panel">
	<div class="large-12 columns">
		<h3>Background</h3>
		<textarea name="goal_text"></textarea>
	</div>
</div>

<div class="row panel">
	<div class="large-12 columns">
		<input type='submit' class="large button" value='Save Profile'>
	</div>
</div>
