<div class="row">
    <div class="large-12 columns">
        <h2>Verifications</h2>
    </div>
</div>

<% for(var i = 0;i < verifications.length;i++) { %>
<div class="row panel">
    <div class="large-8 columns">
        <%= verifications[i].goal.goal_title %> - <%= verifications[i].user.user_name %>
    </div>
    <div class="large-2 columns">
        <a href="/verifications/<%= verifications[i].transaction_id %>/verify" class="tiny button expand right success">Approve</a>
    </div>
    <div class="large-2 columns">
        <a href="/verifications/<%= verifications[i].transaction_id %>/deny" class="tiny button expand right alert">Nope.</a>
    </div>
</div>
<% } %>
