<%
 if(goals.length == 0) { %>
<p>No goals available.</p>
<% } else {
    for(var i = 0;i < goals.length;i++) {
    var goal = goals[i];
 %>
    <div class="goal">
        <div class="title"><a href="/goal/<%= goal.goal_id %>"><%= goal.goal_title %></a></div>
        <div class="reward">Reward: <%= goal.reward %></div>
        <div class="users">Users: 0 / <%= goal.max_participants %></div>
    </div>
<% }
 }%>
