<script type="text/javascript">
$(function() {
	$('#popupDatepicker').datepick();
	$('#inlineDatepicker').datepick({onSelect: showDate});
});

function showDate(date) {
	alert('The date chosen is ' + date);
}
</script>

<div class="row">
	<div class="large-12 columns">
		<h2>Create a New Goal</h2>
	</div>
</div>

<div class="row panel sub-view subview-templates">
	<div class="large-12 columns">
		<a href="/goals/create" class="large button expand">Start from Scratch</a>
		<h3>Or Select a Template</h3>

		<div class="row">
			<div class="large-6 columns">
				<ul>
					<li><a href="#">Lose Weight</a></li>
					<li><a href="#">Host an Event</a></li>
					<li><a href="#">Launch a Product or Service</a></li>
					<li><a href="#">Answer a Big Question</a></li>
				</ul>
			</div>
			<div class="large-6 columns">
				<ul>
					<li><a href="#">Do Some Homework</a></li>
					<li><a href="#">Clean Up the Home/Office</a></li>
					<li><a href="#">Move to a New City</a></li>
					<li><a href="#">Civic Project</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

