<div class="row">
	<div class="large-12 columns">
		<h2>Create a New Goal</h2>
	</div>
</div>

<div class="row panel">
	<div class="large-12 columns">
		<form>
			<div class="row">
				<div class="large-12 columns">
					<label>Select a Reward</label>
					<select>
						<option>Custom</option>
						<option>A Giant Hug</option>
						<option>A Warm Fuzzy Feeling</option>
						<option>Pride, Because You're Pretty Great</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<label>What's the Custom Reward?</label>
					<input type="text">
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<label>When Will the Reward Arrive?</label>
					<input type="text">
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<label>How Many People Should Validate?</label>
					<input type="text">
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<label>Who Should Validate?</label>
					<select>
						<option>Me</option>
						<option>Consensus</option>
						<option>3rd Party</option>
						<option>Location</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<a href="/rewards/new" class="large button">Finish Creating Goal!</a>
				</div>
			</div>
		</form>
	</div>
</div>

