<h1>Please Log In</h1>

    <form method="post" action="/login">
        <div>
            <input type="text" name="user" placeholder="Username" />
        </div>
        <div>
            <input type="text" name="password" placeholder="Password" />
        </div>
        <% if(typeof(error) != "undefined" && error) { %><div class="error">Invalid username and/or password. Please try again.</div> <% } %>
        <div>
            <input type="submit" />
        </div>
    </form>
